<div class="sidebar" [class.collapsed]="collapsed">
  <span (click)="toggleSidebar()">
    <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </span>

  <nav>
    <a routerLink="/home">
      <mat-icon>home</mat-icon>
      <span *ngIf="!collapsed">Home</span>
    </a>

    <div class="menu-group">
      <a>
        <mat-icon>inventory_2</mat-icon>
        <span *ngIf="!collapsed">Order</span>
      </a>

      <div class="submenu" *ngIf="!collapsed">
        <a routerLink="/orders/create">Create</a>
        <a routerLink="/orders/list">List</a>
      </div>
    </div>
  </nav>

</div>



<!-- <div class="sidebar">

  <button class="toggle-btn" (click)="toggleSidebar()">
    <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>

  <nav>
      <a routerLink="" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span *ngIf="">HOME</span>
      </a>

      <div class="menu-group">
        <a>
          <mat-icon>inventory_2</mat-icon>
          <span *ngIf="!collapsed"></span>
        </a>

        <div *ngIf="!collapsed && orderMenuOpen" class="submenu">
          <a routerLink="/orders/create" routerLinkActive="active">Create</a>
          <a routerLink="/orders/list" routerLinkActive="active">List</a>
      </div>
      </div>

  </nav>

</div> -->